# Terraform downloaded providers/modules
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files that could contain secrets
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json